@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

* {
    overflow: hidden;
}

.landingPage {

    background-image: linear-gradient( 109.6deg,  rgba(102,51,153,1) 11.2%, rgba(2,0,4,1) 91.1% );
    z-index: 1;
    height: 100vh;
    width: 100%;
    
  }

  .leftBox h2{
    font-family: 'Roboto Slab', serif;
    
  }
  .leftBox h4 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(184, 184, 184);
  }

  .letsDoItBtn{
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 8px;
    border: 1px solid white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    background: rgb(46, 0, 46);
    transition: 0.4s ease-in-out;
  }
  .letsDoItBtn:hover {
    cursor: none;
    background: rgb(82, 1, 82);
  }
  .boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .rightBox img:hover {
    transform: rotate3d(1, 1, 1, 5deg);
    box-shadow: 2px 1px 3px 2px black;
  }