* {
    cursor: none;
    overflow: none;
}

.signUpPage {
    height: 130vh;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(38, 51, 97, 1) 0%, rgba(65, 143, 222, 1) 79%);
}
.userTypes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.signUpBox {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65vh;
    margin-top: 30px;
    background-color: white;
    margin-right: 22rem;
    box-shadow: 4px 2px 3px 2px black;
    margin-left: 22rem;
    margin-bottom: 2rem;
}
.signUpBtn:hover {
    background: rgb(0, 8, 82);

}
.signUpBtn {
    outline: none;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    font-family: sans-serif;
    margin-bottom: 0.5rem;
    transition: 0.2s ease-in-out;
    background: rgb(0, 14, 142);
}
.socialOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signUpBox h5:hover {
    text-decoration: underline;
}